.section {
}
.about-section {
}
.container {
}
.section__title {
}
.about-section__title {
}
.about {
  @include small-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}
.about__text {
  color: #070706;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}
.about__image {
  display: flex;
  justify-content: center;
}
.about__img {
  border-radius: 5px;

  @include small-tablet {
    height: 500px;
    width: 500px;
  }
}
