.section {
}
.hero-section {
  position: relative;
  min-height: 100vh;
  background-color: #000;
}

.hero-section__background-img {
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.5);
  height: 100%;
  width: 100%;
}
.container {
  position: relative;
  z-index: 10;
}

.hero-section__container {
  //можно удалить и прописать margin для элементов внутри
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 48px;
}

.hero-section__title {
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.23;
  color: #fff;

  @include small-tablet {
    font-size: 48px;
  }

  @include tablet {
    font-size: 52px;
  }

  span {
    font-size: 30px;
  }
}
.hero-section__slogan {
  font-size: 16px;
  line-height: 1.45;
  color: #afafaf;

  @include small-tablet {
    font-size: 18px;
  }

  @include tablet {
    font-size: 20px;
    line-height: 1.55;
  }
}
.hero-section__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff0009;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  min-height: 60px;
  padding-left: 60px;
  padding-right: 60px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #b3b3b3;
    color: #000000;
  }
}
