.section {
}
.hero-section {
  position: relative;
  min-height: 100vh;
  background-color: #000;
}

.hero-section__background-img {
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.5);
  height: 100%;
  width: 100%;
}
.container {
  position: relative;
  z-index: 10;
}

.hero-section__container {
  //можно удалить и прописать margin для элементов
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 48px;
}

.hero-section__title {
  letter-spacing: 0.0625em;
  font-weight: 600;
  line-height: 1.23;
  color: #fff;

  @include font-size(3.583rem);

  span {
    @include font-size(2.074rem);
  }
}

.hero-section__slogan {
  @include font-size(1.728rem);
  line-height: 1.45;
  color: #afafaf;

  @include tablet {
    line-height: 1.55;
  }
}

.hero-section__link {
  text-transform: uppercase;
}
