.section {
}
.offer-section {
}
.container {
}
.section__title {
}
.offer-section__title {
  line-height: 1.4;
  opacity: 0.9;
  // text-align: left;
}
.offer {
}
.list-reset {
}
.offer__list {
  @include small-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    // @include rfs(30px, column-gap);
    // @include rfs(30px, row-gap);
  }
}
.offer__item {
  @include mb(1rem);

  @include tablet {
    @include mb(0);
  }
}

.status {
  //TODO container query?
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  align-items: center;
}

.status__icon {
  height: 3.125rem;
  width: 3.125rem;
}

.status__text {
  margin: 0;
  // font-size: 18px;
  color: #070706;
  line-height: 1.4;
  opacity: 0.85; //!fix grey color without opacity?
}
