.section {
  padding: $section-padding-block 0;
}

.section__title {
  font-weight: 600;
  text-align: center;
  color: #000;
  line-height: 1.33;
  margin-top: 0;

  @include font-size(2.488rem); //39.81px
}

.section__description-text {
  @include font-size(1.728rem); //27.65px
  @include font-size(1.44rem); //23.04px
}

.article-title {
  @include font-size(1.44rem); //23.04px  
}
