.section {
  @include rfs(60px 0, padding);
  border: 1px solid red;
}

.section__title {
  font-weight: 600;
  text-align: center;
  color: #000;
  line-height: 1.33;
  margin-top: 0;

  @include font-size(2.488rem); //39.81px
}

.section__description-text {
  @include font-size(1.728rem); //27.65px
  // @include font-size(1.44rem); //23.04px
  text-align: center;

  // @include tablet {
  //   text-align: left;
  // }
}

.article-title {
  @include font-size(1.44rem); //23.04px
}
