.section {
}
.services-section {
}
.container {
}
.section__title {
}
.services-section__title {
}
.services {
  @include small-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}
.services__block {
  padding-bottom: 30px;
}
.services__image {
}
.services__block_title {
  font-size: 22px;
  line-height: 1.23;
  font-weight: 600;
  color: #000;
}
.services__price {
  font-size: 18px;
  line-height: 1.35;
  font-weight: 600;
  color: #000;
}
.services__list {
  font-size: 14px;
  line-height: 1.55;
  font-weight: 400;
  color: #101010;
  padding-left: 30px;
}
.services__item {
}
.services__link {
  display: flex;
  border: 1px solid #222;
  border-radius: 50px;
  height: 45px;
  width: 155px;
  justify-content: center;
  align-items:center;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
}
.services__link:hover {
  color: #fff;
  background-color: #222;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
