.socials {
  // define vars
  // --block-size: 30px;
  // --icon-size: 24px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  &_light {
    --icon-color: #fff;
    --bg-color: #000;
  }

  &_dark {
    --icon-color: #000;
    --bg-color: #fff;
  }
}

.socials__link {
  --block-width: var(--block-size, 30px);
  --block-height: var(--block-size, 30px);
  --icon-width: var(--icon-size, 80%);
  --icon-height: var(--icon-size, 80%);

  width: var(--block-width);
  height: var(--block-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--bg-color);

  svg {
    max-width: 100%;
    max-height: 100%;
    width: var(--icon-width);
    height: var(--icon-height);
    fill: var(--icon-color);
  }
}
