.why-section {
}

.why-section__title {
  line-height: 1.23;
  // text-align: left;
}
.section__title {
}
.why {
}
.why__list {
  @include small-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    row-gap: 30px;
    column-gap: 30px;
  }

  @include tablet {
    // background-color: red;
  }
}

.why__item {
  @include mb(1.5rem);
}

.reason {
}

.reason__icon {
  width: 3.125rem;
  height: 3.125rem;
}

.reason__title {
  margin-top: 0; // font-size: 22px;
  @include font-size(1.44rem);
}
.reason__text {
  margin: 0;
  // font-size: 14px;
  line-height: 1.55;
}
