.why-section {
}

.why-section__title {
}
.why {
}
.why__list {
  @include small-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    row-gap: 16px;
    column-gap: 16px;
  }

  @include tablet {
    background-color: red;
  }
}

.why__item {
}
.reason {
}
.reason__icon {
}
.reason__title {
}
.reason__text {
}
