@mixin accordion {
  .accordion {
    --paddingY: 16px;
    --paddingX: 24px;
    --padding-top: var(--paddingY);
    --padding-bottom: var(--paddingY);
    --padding-left: var(--paddingX);
    --padding-right: var(--paddingX);
    --icon-size: 32px;
    --icon-width: var(--icon-size);
    --icon-height: var(--icon-size);
    --text-color: #000;

    box-sizing: border-box;
    margin: 0;

    &[open] > summary:before {
      transform: rotate(45deg);
    }
  }

  .accordion__summary {
    position: relative;
    display: block;
    outline-color: var(--text-color);
    padding: var(--padding-top) calc(2 * calc(var(--padding-right)))
      var(--padding-bottom) var(--padding-left);
    cursor: pointer;

    &:hover::before {
      background-color: #f90606;
    }

    &::before {
      content: "";
      position: absolute;
      width: var(--icon-width);
      height: var(--icon-height);
      top: calc(50% - (var(--icon-height) / 2));
      right: calc(var(--padding-right) - (var(--icon-width)) / 2);
      background-image: url("../../img/svg/plus-icon.svg");
      background-size: 75%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      background-color: #000;
      transform: rotate(0);
      transition: 0.3s transform ease, background-color 0.3s ease;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  .accordion__content {
    --paddingY-half: calc(var(--paddingY) / 2);
    padding: var(--paddingY-half) var(--paddingX);
  }
}
