/* stylelint-disable */

@mixin burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 0px 2px, rgb(51, 51, 51) 0px 0px 0px 1px;
  position: fixed;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  top: 15px;
  right: var(--container-offset);
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: transparent;
  z-index: 50;

  @include tablet {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    box-shadow: var(--shadow);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    box-shadow: var(--shadow);
    transition: transform 0.3s ease-in-out;
  }

  &--active {
    --shadow: none;
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}
