.carousel {
  --click-area-width: 40px;
  --gap: 5px;

  position: relative;

  @include small-tablet {
    padding: 0 calc(var(--click-area-width) + var(--gap));
  }
}

.carousel__button {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--click-area-width);

  &_prev {
    display: none;
    // left: calc(var(--container-offset) * -1);
    transform: scale(-1);

    @include small-tablet {
      display: flex;
      left: 0;
    }
  }

  &_next {
    display: none;
    right: calc(var(--container-offset) * -1);

    @include small-tablet {
      display: flex;
      right: 0;
    }
  }

  @include hover {
    svg {
      background-color: var(--primary-color);
    }
  }

  &:focus-visible,
  &:active {
    svg {
      background-color: var(--primary-color);
    }
  }

  &:active {
    svg {
      transform: scale(0.95);
    }
  }

  svg {
    fill: #fff;
    border-radius: 50%;
    padding: 5px;
    background-color: #000;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
}
