:root {
  --font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.section {
  padding: 60px 0;
}

.section__title {
  font-weight: 600;
  text-align: center;
  color: #000;
  font-size: 42px;
  line-height: 1.23;
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .section__title {
    font-size: 38px;
  }
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 0px 2px, rgb(51, 51, 51) 0px 0px 0px 1px;
  position: fixed;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  top: 15px;
  right: var(--container-offset);
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: transparent;
  z-index: 50;
}
@media (min-width: 1023px) {
  .burger {
    display: none;
  }
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active {
  --shadow: none;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px var(--container-offset);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
  z-index: 40;
}
.menu--active {
  pointer-events: all;
  opacity: 1;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  background-color: #000;
}
.menu--inactive {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
@media (min-width: 1023px) {
  .menu {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--header-gap);
    padding: 0;
    opacity: 1;
    pointer-events: all;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.menu .logo {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 767px) {
  .menu .logo {
    display: none;
  }
}
.menu .logo img {
  width: 44%;
  max-width: 200px;
}
.menu .nav__list {
  margin-bottom: 20px;
}
@media (min-width: 1023px) {
  .menu .nav__list {
    margin-bottom: 0;
  }
}

.header {
  --header-gap: 15px;
  background-color: #000;
  padding: 12px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: var(--header-gap);
}
.header__container > .logo {
  max-width: 100px;
}
@media (min-width: 1023px) {
  .header__container > .logo {
    max-width: 206px;
  }
}

@media (min-width: 1023px) {
  .nav__list {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.nav__link {
  display: block;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.why-section__title {
  line-height: 1.23;
  text-align: left;
}

@media (min-width: 767px) {
  .why__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    row-gap: 30px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
.reason__title {
  font-size: 22px;
}

.reason__text {
  font-size: 14px;
  line-height: 1.55;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.socials_light {
  --icon-color: #fff;
  --bg-color: #000;
}
.socials_dark {
  --icon-color: #000;
  --bg-color: #fff;
}

.socials__link {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--bg-color);
}
.socials__link svg {
  width: 25px;
  height: 25px;
  fill: var(--icon-color);
}

.offer-section__title {
  line-height: 1.4;
  opacity: 0.9;
  text-align: left;
}

@media (min-width: 767px) {
  .offer__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.status__icon {
  height: 50px;
  width: 50px;
}

.status__text {
  color: #070706;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  opacity: 0.85;
}

@media (min-width: 767px) {
  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}

.about__text {
  color: #070706;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

.about__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 767px) {
  .about__img {
    height: 500px;
    width: 500px;
  }
}

.auto-section__description {
  font-size: 20px;
  line-height: 1.5;
  color: #101010;
  text-align: center;
}
@media (min-width: 1023px) {
  .auto-section__description {
    margin: 0 0 60px;
    font-size: 22px;
  }
}

.auto-swiper {
  position: relative;
  padding: 0 var(--container-offset);
  width: calc(100% + var(--container-offset) * 2);
  -webkit-transform: translateX(calc(var(--container-offset) * -1));
  -ms-transform: translateX(calc(var(--container-offset) * -1));
  transform: translateX(calc(var(--container-offset) * -1));
}

.auto-swiper__button {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10;
  width: 40px;
}
.auto-swiper__button_prev {
  left: 0;
  -webkit-transform: scale(-1);
  -ms-transform: scale(-1);
  transform: scale(-1);
}
.auto-swiper__button_next {
  right: 0;
}
@media (any-hover: hover) {
  .auto-swiper__button:hover svg {
    background-color: #f90606;
  }
}
.auto-swiper__button:focus-visible svg, .auto-swiper__button:active svg {
  background-color: #f90606;
}
.auto-swiper__button:active svg {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.auto-swiper__button svg {
  fill: #fff;
  border-radius: 50%;
  padding: 5px;
  background-color: #000;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.auto-card {
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
@media (any-hover: hover) {
  .auto-card:hover {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
.auto-card:hover .auto-card__images .auto-card__picture_2 {
  opacity: 1;
}

.auto-card__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.auto-card__picture {
  grid-column: 1/-1;
  grid-row: 1/-1;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.auto-card__picture_2 {
  opacity: 0;
}
.auto-card__picture img {
  aspect-ratio: 1.65;
  min-height: 300px;
  width: 100%;
}

.auto-card__body {
  padding: 24px 16px;
}

.auto-card__title {
  color: #070706;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0 0 8px;
}

.auto-card__info {
  color: #070706;
  line-height: 1.4;
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 10px;
  letter-spacing: 2.5px;
  margin: 0 0 8px;
}

.auto-characteristics {
  margin: 0 0 24px;
}

.characteristic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  color: #070706;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Montserrat";
}
.characteristic:not(:last-child) {
  margin-bottom: 8px;
}

.characteristic__value {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  width: 60%;
  -ms-grid-column-align: start;
  justify-self: start;
  margin: 0;
  padding-left: 8px;
}

.characteristic__name {
  position: relative;
  -ms-flex-item-align: start;
  align-self: flex-start;
  min-width: 40%;
}
.characteristic__name span {
  position: relative;
  display: inline-block;
  padding-right: 8px;
  background-color: #fff;
}
.characteristic__name::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 4px;
  display: none;
  width: 100%;
  border-bottom: 1px dotted #d2d2d2;
}
@media (min-width: 575px) {
  .characteristic__name::before {
    display: block;
  }
}

.auto-card__price {
  font-size: 22px;
  font-weight: 600;
}

.soc-link {
  color: #ff8562;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */