<section class="section about-section" id="about">
  <div class="container">
    <h2 class="section__title about-section__title">Про мене</h2>
    <div class="about">
      <div class="about__text">
        <p>Мене звуть Максим Царіннік. Мій <a href="#"
            class="soc-link">Instagram</a> та <a href="#"
            class="soc-link">Facebook</a>.</p>
        <p>Я займаюся пригоном автомобілів з Європи. <br>
          За фахом я - автоінженер, закінчив НТУ, м. Київ. З автомобілями працюю
          вже понад 10 років.</p>
        <p>Тут не буде гучних заяв про мою експертність і професіоналізмі. За 3
          роки роботи далекобійником на автовозі я об'їздив всю Європу і можу
          сказати просто: в машинах я дійсно розбираюся. <br>
          Підтвердженням тому є задоволені клієнти з мого рідного міста Сміла
          (Черкаська обл.), які вірять мені на слово. Адже якщо пробіг скручений
          або який-небудь елемент кузова фарбований, то рано чи пізно це спливе.
        </p>
        <p>Я цього не боюся, тому що ЧЕСНІСТЬ - головне правило моєї роботи. За
          якість я відповідаю своєю репутацією!</p>
      </div>
      <div class="about__image">
        <img class="about__img"
          src="img/about_img.jpg"
          height="714px"
          width="600px"
          alt="">
      </div>
    </div>
  </div>
</section>
