<section class="section auto-section"
  id="auto">
  <div class="container">
    <h2 class="section__title">Автомобілі, які ми підібрали клієнтам</h2>
    <p class="section__description-text auto-section__description">
      Сам перевіряю кожне авто в три етапи:<br />
      товщиномір, тестдрайв, звіт по VIN-коду
    </p>
    <div class="carousel js-auto-carousel-container">
      <button
        class="btn-reset carousel__button carousel__button_prev js-carousel-button-prev">
        @include('../img/svg/right-arrow.svg')
      </button>
      <div class="swiper js-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="auto-card">
              <div class="auto-card__images">
                <picture class="auto-card__picture auto-card__picture_1">
                  <source srcset="img/auto/renault_meg_red1.avif"
                    type="image/avif">
                  <source srcset="img/auto/renault_meg_red1.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/renault_meg_red1.jpeg"
                    width="220"
                    height="165"
                    alt="">
                </picture>
                <picture class="auto-card__picture auto-card__picture_2">
                  <source srcset="img/auto/renault_meg_red2.avif"
                    type="image/avif">
                  <source srcset="img/auto/renault_meg_red2.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/renault_meg_red2.jpeg"
                    widivh="220"
                    height="165"
                    alt="">
                </picture>
              </div>
              <div class="auto-card__body">
                <h3 class="auto-card__title">Renault Megane</h3>
                <p class="auto-card__info">Авто з Європи Renault Megane 2012</p>
                <dl class="auto-card__characteristics auto-characteristics">
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Рік випуску:</span>
                    </div>
                    <div class="characteristic__value">2012</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Двигун:</span>
                    </div>
                    <div class="characteristic__value">1.4л бензин</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>КПП:</span>
                    </div>
                    <div class="characteristic__value">механічна</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Пробіг:</span>
                    </div>
                    <div class="characteristic__value">214&nbsp;000км</div>
                  </div>
                  <div class="characteristic characteristic_tall">
                    <div class="characteristic__name"> <span>Комлектація:</span>
                    </div>
                    <div class="characteristic__value"> комбінований салон,
                      двозонний клімат-контроль, круїз-контроль,
                      навігація, keyless доступ, передні і задні парктроніки,
                      датчики світла і дощу,
                      фаркоп, колонки BOSE.</div>
                  </div>
                  <div class="characteristic characteristic_tall">
                    <div class="characteristic__name"><span>Особливості:</span>
                    </div>
                    <div class="characteristic__value">косметичний окрас капота,
                      без шпаклівки.</div>
                  </div>
                </dl>
                <span class="auto-card__price">Ціна: 7800&nbsp;$</span>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="auto-card">
              <div class="auto-card__images">
                <picture class="auto-card__picture auto-card__picture_1">
                  <source srcset="img/auto/peugeot_308_1.avif"
                    type="image/avif">
                  <source srcset="img/auto/peugeot_308_1.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/peugeot_308_1.jpg"
                    widivh="220"
                    height="165"
                    alt="">
                </picture>
                <picture class="auto-card__picture auto-card__picture_2">
                  <source srcset="img/auto/peugeot_308_2.avif"
                    type="image/avif">
                  <source srcset="img/auto/peugeot_308_2.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/peugeot_308_2.jpeg"
                    widivh="220"
                    height="165"
                    alt="">
                </picture>
              </div>
              <div class="auto-card__body">
                <h3 class="auto-card__title">Peugeot 308</h3>
                <dl class="auto-card__characteristics auto-characteristics">
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Рік випуску:</span>
                    </div>
                    <div class="characteristic__value">2015</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Двигун:</span>
                    </div>
                    <div class="characteristic__value">1.6 дизель 86 кВт</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>КПП:</span>
                    </div>
                    <div class="characteristic__value">механічна</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Пробіг:</span>
                    </div>
                    <div class="characteristic__value">188&nbsp;888км</div>
                  </div>
                  <div class="characteristic characteristic_tall">
                    <div class="characteristic__name"> <span>Комлектація:</span>
                    </div>
                    <div class="characteristic__value">двухзонний
                      клімат-контоль, круїз-контроль, датчики світла, датчики
                      дощу, підігрів сидінь, задні парктроніки, денні ходові
                      вогні, литі диски, фаркоп
                      i т.д.</div>
                  </div>
                  <div class="characteristic characteristic_tall">
                    <div class="characteristic__name"><span>Особливості:</span>
                    </div>
                    <div class="characteristic__value">косметический підкрас
                      однієї
                      деталі.</div>
                  </div>
                </dl>
                <span class="auto-card__price">Ціна: 9500&nbsp;$</span>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="auto-card">
              <div class="auto-card__images">
                <picture class="auto-card__picture auto-card__picture_1">
                  <source srcset="img/auto/nissan1.avif"
                    type="image/avif">
                  <source srcset="img/auto/nissan1.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/nissan1.jpg"
                    widivh="220"
                    height="165"
                    alt="">
                </picture>
                <picture class="auto-card__picture auto-card__picture_2">
                  <source srcset="img/auto/nissan2.avif"
                    type="image/avif">
                  <source srcset="img/auto/nissan2.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/nissan2.jpeg"
                    widivh="220"
                    height="165"
                    alt="">
                </picture>
              </div>
              <div class="auto-card__body">
                <h3 class="auto-card__title">Nissan Qashqai</h3>
                <p class="auto-card__info">Авто з Європи Nissan Qashqai 2007</p>
                <dl class="auto-card__characteristics auto-characteristics">
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Рік випуску:</span>
                    </div>
                    <div class="characteristic__value">2007</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Двигун:</span>
                    </div>
                    <div class="characteristic__value">1.6 бензин</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>КПП:</span>
                    </div>
                    <div class="characteristic__value">механічна</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Пробіг:</span>
                    </div>
                    <div class="characteristic__value">201&nbsp;000км</div>
                  </div>
                  <div class="characteristic characteristic_tall">
                    <div class="characteristic__name"> <span>Комлектація:</span>
                    </div>
                    <div class="characteristic__value"> кондиціонер, литі диски,
                      додаткові колеса</div>
                  </div>
                  <div class="characteristic characteristic_tall">
                    <div class="characteristic__name"><span>Особливості:</span>
                    </div>
                    <div class="characteristic__value">без підкрасів.</div>
                  </div>
                </dl>
                <span class="auto-card__price">Ціна: 8500&nbsp;$</span>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="auto-card">
              <div class="auto-card__images">
                <picture class="auto-card__picture auto-card__picture_1">
                  <source srcset="img/auto/renault_clio1.avif"
                    type="image/avif">
                  <source srcset="img/auto/renault_clio1.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/renault_clio1.jpg"
                    widivh="220"
                    height="165"
                    alt="">
                </picture>
                <picture class="auto-card__picture auto-card__picture_2">
                  <source srcset="img/auto/renault_clio2.avif"
                    type="image/avif">
                  <source srcset="img/auto/renault_clio2.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/renault_clio2.jpg"
                    widivh="220"
                    height="165"
                    alt="">
                </picture>
              </div>
              <div class="auto-card__body">
                <h3 class="auto-card__title">Renault Clio Grand Tour</h3>
                <p class="auto-card__info">Авто з Європи Renault Clio Grand Tour
                  2009</p>
                <dl class="auto-card__characteristics auto-characteristics">
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Рік випуску:</span>
                    </div>
                    <div class="characteristic__value">2009</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Двигун:</span>
                    </div>
                    <div class="characteristic__value">1.2 турбо бензин</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>КПП:</span>
                    </div>
                    <div class="characteristic__value">механічна</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Пробіг:</span>
                    </div>
                    <div class="characteristic__value">152&nbsp;000км</div>
                  </div>
                  <div class="characteristic characteristic_tall">
                    <div class="characteristic__name"> <span>Комлектація:</span>
                    </div>
                    <div class="characteristic__value"> клімат-контроль,
                      круїз-контроль,
                      електросклопідйомники,
                      регулювання дзеркал, литі диски.</div>
                  </div>
                  <div class="characteristic characteristic_tall">
                    <div class="characteristic__name"><span>Особливості:</span>
                    </div>
                    <div class="characteristic__value">косметичний окрас кришки
                      багажника, без шпаклівки.</div>
                  </div>
                </dl>
                <span class="auto-card__price">Ціна: 5600&nbsp;$</span>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="auto-card">
              <div class="auto-card__images">
                <picture class="auto-card__picture auto-card__picture_1">
                  <source srcset="img/auto/dacia_sanrero_w1.avif"
                    type="image/avif">
                  <source srcset="img/auto/dacia_sanrero_w1.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/dacia_sanrero_w1.jpeg"
                    widivh="220"
                    height="165"
                    alt="">
                </picture>
                <picture class="auto-card__picture auto-card__picture_2">
                  <source srcset="img/auto/dacia_sanrero_w2.avif"
                    type="image/avif">
                  <source srcset="img/auto/dacia_sanrero_w2.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/dacia_sanrero_w2.jpg"
                    widivh="220"
                    height="165"
                    alt="">
                </picture>
              </div>
              <div class="auto-card__body">
                <h3 class="auto-card__title">Dacia Sandero</h3>
                <dl class="auto-card__characteristics auto-characteristics">
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Рік випуску:</span>
                    </div>
                    <div class="characteristic__value">2012</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Двигун:</span>
                    </div>
                    <div class="characteristic__value">1.2 бензин</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>КПП:</span>
                    </div>
                    <div class="characteristic__value">механічна</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Пробіг:</span>
                    </div>
                    <div class="characteristic__value">96&nbsp;000км</div>
                  </div>
                  <div class="characteristic characteristic_tall">
                    <div class="characteristic__name"> <span>Комлектація:</span>
                    </div>
                    <div class="characteristic__value"> кондиціонер,
                      гідропідсилювач керма, управління магнітолою на
                      кермі, гучний зв'язок через Blutoоth</div>
                  </div>
                  <div class="characteristic characteristic_tall">
                    <div class="characteristic__name"><span>Особливості:</span>
                    </div>
                    <div class="characteristic__value">перефарбоване заднє ліве
                      крило, задні ліві двері</div>
                  </div>
                </dl>
                <span class="auto-card__price">Ціна: 5200&nbsp;$</span>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="auto-card">
              <div class="auto-card__images">
                <picture class="auto-card__picture auto-card__picture_1">
                  <source srcset="img/auto/dacia_sanrero_red1.avif"
                    type="image/avif">
                  <source srcset="img/auto/dacia_sanrero_red1.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/dacia_sanrero_red1.jpeg"
                    widivh="220"
                    height="165"
                    alt="">
                </picture>
                <picture class="auto-card__picture auto-card__picture_2">
                  <source srcset="img/auto/dacia_sanrero_red2.avif"
                    type="image/avif">
                  <source srcset="img/auto/dacia_sanrero_red2.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/dacia_sanrero_red2.jpg"
                    widivh="220"
                    height="165"
                    alt="">
                </picture>
              </div>
              <div class="auto-card__body">
                <h3 class="auto-card__title">Dacia Sandero
                </h3>
                <dl class="auto-card__characteristics auto-characteristics">
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Рік випуску:</span>
                    </div>
                    <div class="characteristic__value">2010</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Двигун:</span>
                    </div>
                    <div class="characteristic__value">1.2 бензин</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Пробіг:</span>
                    </div>
                    <div class="characteristic__value">52&nbsp;000км</div>
                  </div>
                  <div class="characteristic characteristic_tall">
                    <div class="characteristic__name"><span>Особливості:</span>
                    </div>
                    <div class="characteristic__value">Без подкрасів. Дуже
                      хороший
                      стан!</div>
                  </div>
                </dl>
                <span class="auto-card__price">Ціна: 4750&nbsp;$</span>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="auto-card">
              <div class="auto-card__images">
                <picture class="auto-card__picture auto-card__picture_1">
                  <source srcset="img/auto/renault_megan_black1.avif"
                    type="image/avif">
                  <source srcset="img/auto/renault_megan_black1.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/renault_megan_black1.jpeg
                        "
                    widivh="220"
                    height="165"
                    alt="">
                </picture>
                <picture class="auto-card__picture auto-card__picture_2">
                  <source srcset="img/auto/renault_megan_black2.avif"
                    type="image/avif">
                  <source srcset="img/auto/renault_megan_black2.webp"
                    type="image/webp">
                  <img loading="lazy"
                    src="img/auto/renault_megan_black2.jpg"
                    widivh="220"
                    height="165"
                    alt="">
                </picture>
              </div>
              <div class="auto-card__body">
                <h3 class="auto-card__title">Renault Megane
                </h3>
                <dl class="auto-card__characteristics auto-characteristics">
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Рік випуску:</span>
                    </div>
                    <div class="characteristic__value">2013</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Двигун:</span>
                    </div>
                    <div class="characteristic__value">1.4 л бензин</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>КПП:</span>
                    </div>
                    <div class="characteristic__value">механічна</div>
                  </div>
                  <div class="characteristic">
                    <div class="characteristic__name"> <span>Пробіг:</span>
                    </div>
                    <div class="characteristic__value">214&nbsp;000км</div>
                  </div>
                  <div class="characteristic characteristic_tall">
                    <div class="characteristic__name "><span>Комлектация:</span>
                    </div>
                    <div class="characteristic__value"> комбінований салон,
                      двозонний клімат-контроль,
                      круїз-контроль,
                      навігація, keyless доступ, передні і задні парктроніки,
                      датчики
                      світла і дощу,
                      фаркоп, колонки BOSE.</div>
                  </div>
                </dl>
                <div class="characteristic characteristic_tall">
                  <div class="characteristic__name"><span>Особливості:</span>
                  </div>
                  <div class="characteristic__value">косметичний окрас капота,
                    без
                    шпаклівки.</div>
                </div>
                <span class="auto-card__price">Ціна: 8800&nbsp;$</span>
              </div>
            </article>
          </div>
        </div>
      </div>
      <button
        class="btn-reset carousel__button carousel__button_next js-carousel-button-next">@include('../img/svg/right-arrow.svg')</button>
    </div>
  </div>
</section>
