<section class="section faq-section">
  <div class="container">
    <h2 class="section__title faq-section__title">Відповіді на типові запитання:
    </h2>

    <div class="questions">
      <ul class="list-reset questions__list">
        <li class="questions__item">
          <details class="accordion js-accordion">
            <summary class="accordion__summary js-summary">Чому ми вибираємо
              європейські авто?
            </summary>
            <div class="accordion__content js-content">
              <ol class="list-reset">
                <li>Перш за все, тому що вони якісні, «не вбиті» нашими
                  дорогами.</li>
                <li>Автомобілі в Європі обслуговуються на сертифікованих
                  сервісах, а не в
                  гаражах в кооперативі "Промінь". На плановому сервісному
                  обслуговуванні
                  заливається якісне масло і встановлюються оригінальні
                  запчастини, які
                  рекомендовані заводом-виробником. У більшості авто є сервісні
                  книжки з
                  відмітками про регулярне проходження ТО.</li>
                <li>Автомобілі в Європі заправляються якісним паливом, після
                  якого не псується
                  турбіна, або взагалі перестає заводитися мотор.</li>
                <li>В Європі обов'язково проходження технічного огляду. Це дуже
                  важливо, тому
                  що на ньому можуть виявити технічні несправності, і власник
                  машини буде
                  змушений їх усунути в найкоротші терміни, адже без проходження
                  техогляду
                  пересуватися на авто ЗАБОРОНЕНО.</li>
                <li>Авто з Європи добре доглянуті і зовні. По-перше, на
                  автостраді немає
                  гравію, який усюди летить: і в капот, і в вікна, і фари.
                  По-друге, німці,
                  швейцарці в цілому непогано стежать за тим, як виглядає їх
                  транспорт, на
                  відміну від, наприклад, іспанців та італійців.</li>
                <li>Якщо на авто з'явилися якісь пошкодження, то європейцю
                  простіше продати
                  його, ніж ремонтувати, тому що ремонт там коштує дорого. Тому
                  покупці можуть
                  розраховувати на значну знижку при покупці такого авто. І не
                  обов'язково це
                  буде той випадок, коли потрібно перефарбувати півмашини.</li>
                <li>У Німеччині, Франції, Нідерландах середньостатистичний
                  громадянин оновлює
                  свій автопарк кожні 5-7 років. Тому і авто, які вони продають,
                  в хорошому
                  технічному стані.</li>
              </ol>
            </div>
          </details>
        </li>
        <li class="questions__item">
          <details class="accordion js-accordion">
            <summary class="accordion__summary js-summary">А чи буде дешевше?
            </summary>
            <div class="accordion__content js-content">
              <p>
                Це найпоширеніше запитання від клієнтів. Знову ж таки, чудес не
                буває. Гарна
                машинка скрізь буде коштувати грошей, і Швейцарія – не
                виключення.
              </p>
              <p>
                Але є і
                гарна новина – дешевше буде! Яким саме чином?<br>При замовленні
                авто в мене ви
                сплачуєте сталу комісію, яка складає 500 у.о. Ніяких додаткових
                платежів. Якщо
                ж купувати авто з наявності (в мене або в когось іншого),
                комісія завжди буде
                вищою. Тому що:
              </p>
              <ul>
                <li>вищі ризики – ніхто не знає, на який час заморожуються
                  гроші, вкладені
                  покупку в авто;</li>
                <li>додаткові витрати для зберігання авто;</li>
                <li>виїзди на автобазари + пальне;</li>
                <li>і найголовніше – це додатковий час, який я витрачаю на
                  покази
                  автомобіля, поїздки з потенційними покупцями по різних
                  «спеціалістах» на
                  СТО та підборщиках. </li>
              </ul>
              <p>
                Тому, замовляючи послугу по пригону авто, ви точно
                отримуєте перевагу.
              </p>
              <p>
                З досвіду можу сказати, що економія складатиме від 500 $ при
                ціні авто до
                10&nbsp;000 $.
              </p>
            </div>

          </details>
        </li>
        <li class="questions__item">
          <details class="accordion js-accordion">
            <summary class="accordion__summary js-summary">Які автомобілі не
              варто замовляти з Європи?
            </summary>
            <div class="accordion__content js-content">
              <ol>
                <li> Машини з роком випуску менше 2008-2009. Все просто: чим
                  старше авто, тим
                  дорожче розмитнення. Наприклад, останній раз ввозив два майже
                  однакових
                  Renault Clio, різниця лише в роках випуску, 2008 і 2009.
                  Розмитнення Clio 2009
                  вийшло на 400 € дешевше. Також авто до 2008 року випуску важко
                  знайти з
                  низьким пробігом, мінімумом підкрасів та в гарному технічному
                  стані.</li>
                <li> Деякі непопулярні в Україні марки авто: Alfa Romeo, Saab,
                  Acura.
                  Причина в
                  тому, що на такі машини буде важко знайти запчастини. А ми ж
                  повинні думати
                  наперед)</li>
              </ol>
            </div>
          </details>
        </li>
        <li class="questions__item">
          <details class="accordion js-accordion">
            <summary class="accordion__summary js-summary">Документи на авто з
              Європи. Що повинно бути?
            </summary>
            <div class="accordion__content js-content">
              <p>
                Багато хто цікавиться: які документи повинні бути на машину з
                Європи? Щоб ви орієнтувалися та не переймалися, що вас обманюють
                шахраї, - нижче список.
              </p>
              <ul>
                <li>техпаспорт країни реєстрації з відміткою про зняття з
                  обліку. В Швейцарії він називається Fahrzeugausweis, а в
                  Україні брокери та пригонщики називають його «бріф».</li>
                <li>документи з митниці: форма МД-2, форма МД-6 з мокрими
                  печатками.</li>
                <li>інвойс.</li>
                <li>сертифікат відповідності.</li>
              </ul>
              <p>
                Ці документи потрібні для постановки автомобіля на облік в
                Сервісному центрі МВС. Як бачите, не так багато.
              </p>
              <p>
                На замітку про платежі, які сплачує
                покупець в Сервісному центрі МВС: </p>
              <ul>
                <li>3% до Пенсійного фонду. Авто, яке ввезено з-за кордону, в
                  Україні ставиться на первинну реєстрацію. При цьому
                  сплачується 3% до від оціночної вартості авто до Пенсійного
                  фонду (для кожного
                  авто ця сума різна).</li>
                <li> 800 грн за послуги Сервісного Центру МВС, номерні знаки
                  та техпаспорт.
                </li>
              </ul>
            </div>
    </div>
    </details>
    </li>
    </ul>
  </div>

  </div>
</section>
