<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <address class="address">
        <strong>
          MaxAutohunter
        </strong>
        <br />
        Пригон авто з Європи
        <br />
        м. Сміла, м.Черкаси
        <br />
        <a class="soc-link address__link"
          href="tel:+380933822079">
          +38 093 382 20 79
        </a>
      </address>
      @include('./socials.html', {'theme':'dark'})
      <a class="top-link"
        href="#top"> Вгору 🠕
      </a>

    </div>
  </div>
</footer>
