<header class="header">
  <div class="container header__container">

    @include('logo.html')
    <div class="fixed-block">
      <div class="menu menu--inactive"
        data-menu>

        @include('logo.html')
        <nav class="nav">
          <ul class="list-reset nav__list">
            <li class="nav__item">
              <a href="#"
                data-menu-item
                class="nav__link">Про мене</a>
            </li>
            <li class="nav__item">
              <a href="#"
                data-menu-item
                class="nav__link">Авто</a>
            </li>
            <li class="nav__item">
              <a href="#"
                data-menu-item
                class="nav__link">Послуги та ціни</a>
            </li>
            <li class="nav__item">
              <a href="#"
                data-menu-item
                class="nav__link">F.A.Q.</a>
            </li>
            <li class="nav__item">
              <a href="#"
                data-menu-item
                class="nav__link">Відгуки</a>
            </li>
            <li class="nav__item">
              <a href="#"
                data-menu-item
                class="nav__link">Відгуки</a>
            </li>
            <li class="nav__item">
              <a href="#"
                data-menu-item
                class="nav__link">Контакти</a>
            </li>
          </ul>
        </nav>

        @include('socials.html', {'theme':'dark'})
      </div>
    </div>
    <button class="burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger>
      <span class="burger__line"></span>
    </button>
  </div>

</header>
