<section class="section hero-section">
  <picture>
    <source srcset="img/bg_img.avif"
      type="image/avif">
    <source srcset="img/bg_img.webp"
      type="image/webp">
    <img class="hero-section__background-img"
      src="img/bg_img.jpg"
      width="360"
      height="640"
      alt="">
  </picture>
  <div class="container hero-section__container">
    <h1 class="hero-section__title">ПРИГОН АВТО З ЄВРОПИ<br>
      <span> ПІДБІР, ДОСТАВКА, РОЗМИТНЕННЯ</span>
    </h1>
    <p class="hero-section__slogan">Вполюємо для вас якісне авто без пробігу по
      Україні</p>
    <a href="https://forms.gle/fz8WZG854j3V39ZXA"
      class="link link_primary hero-section__link">Замовити прорахунок авто</a>
  </div>

</section>
