<section class="section offer-section">
  <div class="container">
    <h2 class="section__title offer-section__title">Ми пропонуємо тільки якісні європейські авто з рідним пробігом і в хорошому технічному стані!</h2>
    <div class="offer">
      <ul class="list-reset offer__list">
        <li class="offer__item">
          <article class="status">
            <img src="img/offer/offer1.svg" width="50px" height="50px" alt="" class="status__icon">
            <p class="status__text">Більше 500 000 км ми здолали, щоб привезти авто нашим клієнтам</p>
          </article>
        </li>
        <li class="offer__item">
          <article class="status">
            <img src="img/offer/offer2.svg" width="50px" height="50px" alt="" class="status__icon">
            <p class="status__text">Завжди маємо кілька варіантів автомобілів в наявності</p>
          </article>
        </li>
        <li class="offer__item">
          <article class="status">
            <img src="img/offer/offer3.svg" width="50px" height="50px" alt="" class="status__icon">
            <p class="status__text">Доставляємо власним автовозом, тому ціни нижчі, ніж у конкурентів</p>
          </article>
        </li>
        <li class="offer__item">
          <article class="status">
            <img src="img/offer/offer4.svg" width="50px" height="50px" alt="" class="status__icon">
            <p class="status__text">Відразу називаємо кінцеву вартість автомобіля, включаючи всі послуги</p>
          </article>
        </li>
        <li class="offer__item">
          <article class="status">
            <img src="img/offer/offer5.svg" width="50px" height="50px" alt="" class="status__icon">
            <p class="status__text">Відразу оговорюємо терміни покупки і привозу автомобіля, щоб клієнт реально оцінював ситуацію</p>
          </article>
        </li>
        <li class="offer__item">
          <article class="status">
            <img src="img/offer/offer6.svg" width="50px" height="50px" alt="" class="status__icon">
            <p class="status__text">Ми категорично проти поширеної в Україні практики скручування пробігу</p>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
