<section class="section process-section">
  <div class="container container_narrow">
    <h2 class="section__title process-section__title">Процес співпраці</h2>
    <div class="steps">
      <ol class="steps__list">
        <li class="steps__item">
          <div class="step">
            <p class="step__text"> Ми зв’язуємось з клієнтом, уточнюємо всі
              питання та домовляємося про зустріч.</p>
          </div>
        </li>
        <li class="steps__item">
          <div class="step">
            <p class="step__text"> Визначаємо ключові моменти для замовлення
              авто: бюджет, марку, модель авто.
              Визначаємо також пріорітети, те, що важливіше для клієнта: рік,
              комплектація чи
              пробіг і т.д.</p>
          </div>
        </li>
        <li class="steps__item">
          <div class="step">
            <p class="step__text">Оформлення договору. Внесення завдатку в
              розмірі 500 $.</p>
          </div>
        </li>
        <li class="steps__item">
          <div class="step">
            <p class="step__text"> Пошук авто. Залежно від моделі процес може
              зайняти від 1 до 3 тижнів.</p>
          </div>
        </li>
        <li class="steps__item">
          <div class="step">
            <p class="step__text">Огляд авто на місці, надання клієнту фото-,
              відеоматеріалів. Огляд здійснюю я
              особисто. Повідомляю про всі «нюанси». Без підтвердження з боку
              клієнта покупка
              авто не відбувається!</p>
          </div>
        </li>
        <li class="steps__item">
          <div class="step">
            <p class="step__text"> Викуп авто і оформлення всіх необхідних
              документів.</p>
          </div>
        </li>
        <li class="steps__item">
          <div class="step">
            <p class="step__text">Доставка авто автовозом в Україні (приблизно 1
              тиждень, все залежить від черги
              на кордоні).</p>
          </div>
        </li>
        <li class="steps__item">
          <div class="step">
            <p class="step__text"> Митне очищення автомобіля. Отримання
              сертифікату відповідності.</p>
          </div>
        </li>
        <li class="steps__item">
          <div class="step">
            <p class="step__text"> Передача автомобіля клієнту, внесення решти
              коштів. Допомога з постановкою на
              облік, якщо потрібно.</p>
          </div>
        </li>
      </ol>
    </div>
    <p class="process-section__text">Всі етапи своєї роботи показую в історіях
      <a class="process-section__link soc-link"
        href="https://www.instagram.com/max_autohunter/"
        target="_blank">Instagram</a> та <a
        class="process-section__link soc-link"
        href="https://www.facebook.com/"
        target="_blank">Facebook</a>. Підписуйтеся!
  </div>
</section>
