<section class="section reviews-section">
  <div class="container">
    <h2 class="section__title">Відгуки наших клієнтів</h2>
    <div class="carousel reviews-carousel js-reviews-carousel-container">
      <button
        class="btn-reset carousel__button carousel__button_prev js-carousel-button-prev">
        @include('../img/svg/right-arrow.svg')
      </button>
      <div class="swiper js-carousel">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="review">
              <div class="review__side review__side_left ">
                <img class="review__img"
                  src="http://placekitten.com/200/600"
                  alt="">
              </div>
              <div class="review__side review__side_right">
                <div class="review__body">
                  <p class="review__text">Максим, спасибо тебе большое за
                    машину!
                    Спасибо за твою работу! Машина просто
                    супер, мы все безумно рады! Спасибо еще раз!</p>
                  <span class="review__author">Ігор</span>
                  <span class="review__location">м. Сміла</span>
                  <a class="review__contact-link"
                    href="https://instagram.com/valentinvaliavskii?igshid=1nxu6xy2bs7o8"
                    target="_blank"
                    rel="noopener"> inst</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review">
              <div class="review__side review__side_left ">
                <img class="review__img"
                  src="http://placekitten.com/200/200"
                  alt="">
              </div>
              <div class="review__side review__side_right">
                <div class="review__body">
                  <p class="review__text">Дякую Вам за вашу роботу , авто просто
                    супер ! Маю справу з вами не вперше , і
                    ви як завжди на висоті , а головне чесність і порядність ,
                    не
                    кожна людина може
                    цим похвалитись , Ви можете ! Купував авто для дружини , але
                    зізнаюсь сам люблю
                    на ньому понавалювати , авто дійсно супер ! Ще раз дякую Вам
                    за роботу!
                  </p>
                  <span class="review__author">Валентин</span>
                  <span class="review__location">м. Сміла</span>
                  <a class="review__contact-link"
                    href="https://instagram.com/valentinvaliavskii?igshid=1nxu6xy2bs7o8"
                    target="_blank"
                    rel="noopener"> inst</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="btn-reset carousel__button carousel__button_next js-carousel-button-next">
        @include('../img/svg/right-arrow.svg')
      </button>
    </div>



  </div>
</section>



<!-- <section class="section reviews-section">
  <div class="container">
    <h2 class="section__title">Відгуки наших клієнтів</h2>
    <div id="reviews-carousel"
      class="carousel slide js-reviews-carousel"
      data-bs-ride="true">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="review">
            <div class="review__side review__side_left ">
              <img class="review__img"
                src="http://placekitten.com/200/600"
                alt="">
            </div>
            <div class="review__side review__side_right">
              <div class="review__body">
                <p class="review__text">Максим, спасибо тебе большое за машину!
                  Спасибо за твою работу! Машина просто
                  супер, мы все безумно рады! Спасибо еще раз!</p>
                <span class="review__author">Ігор</span>
                <span class="review__location">м. Сміла</span>
                <a class="review__contact-link"
                  href="https://instagram.com/valentinvaliavskii?igshid=1nxu6xy2bs7o8"
                  target="_blank"
                  rel="noopener"> inst</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="review">
            <div class="review__side review__side_left ">
              <img class="review__img"
                src="http://placekitten.com/200/200"
                alt="">
            </div>
            <div class="review__side review__side_right">
              <div class="review__body">
                <p class="review__text">Дякую Вам за вашу роботу , авто просто
                  супер ! Маю справу з вами не вперше , і
                  ви як завжди на висоті , а головне чесність і порядність , не
                  кожна людина може
                  цим похвалитись , Ви можете ! Купував авто для дружини , але
                  зізнаюсь сам люблю
                  на ньому понавалювати , авто дійсно супер ! Ще раз дякую Вам
                  за роботу!
                </p>
                <span class="review__author">Валентин</span>
                <span class="review__location">м. Сміла</span>
                <a class="review__contact-link"
                  href="https://instagram.com/valentinvaliavskii?igshid=1nxu6xy2bs7o8"
                  target="_blank"
                  rel="noopener"> inst</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="review">
            <div class="review__side review__side_left ">
              <img class="review__img"
                src="http://placekitten.com/200/200"
                alt="">
            </div>
            <div class="review__side review__side_right">
              <div class="review__body">
                <p class="review__text">Максим, спасибо тебе большое за
                  машину!
                  Спасибо за твою работу! Машина просто
                  супер, мы все безумно рады! Спасибо еще раз!</p>
                <span class="review__author">Ігор</span>
                <span class="review__location">м. Сміла</span>
                <a class="review__contact-link"
                  href="https://instagram.com/valentinvaliavskii?igshid=1nxu6xy2bs7o8"
                  target="_blank"
                  rel="noopener"> inst</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-indicators">
        <button type="button"
          data-bs-target="#reviews-carousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button"
          data-bs-target="#reviews-carousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button"
          data-bs-target="#reviews-carousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <button class="carousel-control-prev"
        type="button"
        data-bs-target="#reviews-carousel"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon"
          aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next"
        type="button"
        data-bs-target="#reviews-carousel"
        data-bs-slide="next">
        <span class="carousel-control-next-icon"
          aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</section>



</div> -->
