<section class="section reviews-section"
  id="reviews">
  <div class="container container_narrow">
    <h2 class="section__title">Відгуки наших клієнтів</h2>
    <div class="carousel reviews-carousel js-reviews-carousel-container">
      <button
        class="btn-reset carousel__button carousel__button_prev js-carousel-button-prev">
        @include('../img/svg/right-arrow.svg')
      </button>
      <div class="swiper js-carousel">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="review">
              <div class="review__side review__side_left ">
                <img class="review__img"
                  loading="lazy"
                  width="'290"
                  height="360"
                  src="img/reviews/review_1.jpg"
                  alt="">
              </div>
              <div class="review__side review__side_right">
                <div class="review__body">
                  <p class="review__text">Максим, спасибо тебе большое за
                    машину!
                    Спасибо за твою работу! Машина просто
                    супер, мы все безумно рады! Спасибо еще раз!</p>
                  <span class="review__author">Ігор</span>
                  <span class="review__location">м. Сміла</span>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review">
              <div class="review__side review__side_left ">
                <img class="review__img"
                  loading="lazy"
                  width="'290"
                  height="360"
                  src="img/reviews/review_2.jpg"
                  alt="">
              </div>
              <div class="review__side review__side_right">
                <div class="review__body">
                  <p class="review__text">Дякую Вам за вашу роботу , авто просто
                    супер ! Маю справу з вами не вперше , і
                    ви як завжди на висоті , а головне чесність і порядність ,
                    не
                    кожна людина може
                    цим похвалитись , Ви можете ! Купував авто для дружини , але
                    зізнаюсь сам люблю
                    на ньому понавалювати , авто дійсно супер ! Ще раз дякую Вам
                    за роботу!
                  </p>
                  <span class="review__author">Валентин</span>
                  <span class="review__location">м. Сміла</span>
                  <a class="socials_light socials__link review__contact-link"
                    href="https://instagram.com/valentinvaliavskii?igshid=1nxu6xy2bs7o8"
                    target="_blank"
                    rel="noopener">
                    <svg>
                      <use xlink:href="img/sprite.svg#instagram-30"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="btn-reset carousel__button carousel__button_next js-carousel-button-next">
        @include('../img/svg/right-arrow.svg')
      </button>
    </div>
  </div>
</section>
