<section class="section services-section">
  <div class="container">
    <h2 class="section__title services-section__title">ПОСЛУГИ ТА ЦІНИ</h2>
    <div class="services">
      <div class="services__block">
        <div class="services__image">
          <img src="img/services/services_img1.jpg" height="" width="" alt="">
        </div>
        <h3 class="services__block_title">Пригон авто з Європи "під ключ"</h3>
        <div class="services__price">500€</div>
        <ul class="services__list">
          <li>Підбір авто</li>
          <li>Огляд експертом на місці</li>
          <li>Оплата</li>
          <li>Підготовка всіх експортних документів</li>
          <li>Ограназація доставки</li>
        </ul>
        <div class="services__item">
          <a class="services__link" href="#">Детальніше</a>
        </div>

      </div>
      <div class="services__block">
        <div class="services__image">
          <img src="img/services/services_img2.jpg" height="" width="" alt="">
        </div>
        <h3 class="services__block_title">Доставка авто з Європи</h3>
        <div class="services__price">від 550€</div>
        <ul class="services__list">
          <li>Доставка автомобіля з пункта А в пункт Б на малому автовозі</li>
        </ul>
        <div class="services__item">
          <a class="services__link" href="#">Детальніше</a>
        </div>
      </div>
    </div>
  </div>
</section>
