@if( theme === 'light'){
<ul class="list-reset socials socials_light">
  }
  @if(theme === 'dark'){
  <ul class="list-reset socials socials_dark">
    }
    <li class="socials__item">
      <a href="https://www.facebook.com/max.autohunter"
        class="socials__link"
        target="_blank"
        aria-label="Открыть мой профиль в Facebook">
        <svg>
          <use xlink:href="img/sprite.svg#facebook-30"></use>
        </svg>

      </a>
    </li>
    <li class="socials__item">
      <a href="https://www.instagram.com/max_autohunter/"
        class="socials__link"
        target="_blank"
        aria-label="Открыть мой профиль в Instagram">
        <svg>
          <use xlink:href="img/sprite.svg#instagram-30"></use>
        </svg>
      </a>
    </li>
  </ul>
  <!-- @if( theme === 'light'){
<ul class="list-reset socials socials_light">
  }
  @if(theme === 'dark'){
  <ul class="list-reset socials socials_dark">
    }
    <li class="socials__item">
      <a href="https://www.facebook.com/max.autohunter"
        class="socials__link"
        target="_blank"
        aria-label="Открыть мой профиль в Facebook">
        @include('../img/svg/facebook-30.svg')

      </a>
    </li>
    <li class="socials__item">
      <a href="https://www.instagram.com/max_autohunter/"
        class="socials__link"
        target="_blank"
        aria-label="Открыть мой профиль в Instagram">
        @include('../img/svg/instagram-30.svg')
      </a>
    </li>
  </ul> -->
