<section class="section why-section">
  <div class="container">
    <h2 class="section__title why-section__title">Чому ми обираємо європейські
      авто?</h2>
    <div class="why">
      <ul class="list-reset why__list">
        <li class="why__item">
          <article class="reason">
            <img src=""
              alt=""
              class="reason__icon">
            <h3 class="reason__title">Якість</h3>
          <p class="reason__text">Насамперед, ми шукаємо якісне, «не вбите» нашими дорогами авто. Надійність
          автомобілів з пробігом в Європі набагато вище, ніж в Україні. Пробіги в Європі
          НЕ КРУТЯТЬ. Я зустічав оголошення і з 400 тис пробігу. А у нас як? Все до 150
          тис, навіть якщо це Golf 3.</p>          </article>
        </li>
        <li class="why__item">
          <article class="reason">
            <img src=""
              alt=""
              class="reason__icon">
            <h3 class="reason__title">Якість</h3>
          <p class="reason__text">Насамперед, ми шукаємо якісне, «не вбите» нашими дорогами авто. Надійність
          автомобілів з пробігом в Європі набагато вище, ніж в Україні. Пробіги в Європі
          НЕ КРУТЯТЬ. Я зустічав оголошення і з 400 тис пробігу. А у нас як? Все до 150
          тис, навіть якщо це Golf 3.</p>          </article>
        </li>
        <li class="why__item">
          <article class="reason">
            <img src=""
              alt=""
              class="reason__icon">
            <h3 class="reason__title">Якість</h3>
          <p class="reason__text">Насамперед, ми шукаємо якісне, «не вбите» нашими дорогами авто. Надійність
          автомобілів з пробігом в Європі набагато вище, ніж в Україні. Пробіги в Європі
          НЕ КРУТЯТЬ. Я зустічав оголошення і з 400 тис пробігу. А у нас як? Все до 150
          тис, навіть якщо це Golf 3.</p>          </article>
        </li>
        <li class="why__item">
          <article class="reason">
            <img src=""
              alt=""
              class="reason__icon">
            <h3 class="reason__title">Якість</h3>
          <p class="reason__text">Насамперед, ми шукаємо якісне, «не вбите» нашими дорогами авто. Надійність
          автомобілів з пробігом в Європі набагато вище, ніж в Україні. Пробіги в Європі
          НЕ КРУТЯТЬ. Я зустічав оголошення і з 400 тис пробігу. А у нас як? Все до 150
          тис, навіть якщо це Golf 3.</p>          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
