<section class="section why-section">
  <div class="container">
    <h2 class="section__title why-section__title">Чому ми обираємо європейські
      авто?</h2>
    <div class="why">
      <ul class="list-reset why__list">
        <li class="why__item">
          <article class="reason">
            <img src="img/why/why_car.svg"
              loading="lazy"
              width="50"
              height="50"
              alt=""
              class="reason__icon">
            <h3 class="reason__title">Якість</h3>
            <p class="reason__text">Насамперед, ми шукаємо якісне, «не вбите»
              нашими дорогами авто. Надійність автомобілів з пробігом в Європі
              набагато вище, ніж в Україні. Пробіги в Європі НЕ КРУТЯТЬ. Я
              зустічав оголошення і з 400 тис пробігу. А у нас як? Все до 150
              тис, навіть якщо це Golf 3.</p>
          </article>
        </li>
        <li class="why__item">
          <article class="reason">
            <img src="img/why/why_list.svg"
              loading="lazy"
              width="50"
              height="50"
              alt=""
              class="reason__icon">
            <h3 class="reason__title">Контроль</h3>
            <p class="reason__text">В Європі є обв'язковим проходження
              технічного огляду. Це дуже важливо, тому що на ньому можуть
              виявити технічні несправності. Власник авто буде змушений їх
              усунути в найкоротший термін, адже без проходження техогляду
              пересуватись на авто заборонено.</p>
          </article>
        </li>
        <li class="why__item">
          <article class="reason">
            <img src="img/why/why_like.svg"
              loading="lazy"
              width="50"
              height="50"
              alt="img/why/why_car.svg"
              class="reason__icon">
            <h3 class="reason__title">Технічний та візуальний стан</h3>
            <p class="reason__text">В Європі середньостатистичний громадянин
              оновлює свій автопарк раз в п'ять-сім років. Тому і авто, які вони
              продають, в досить хорошому технічному стані. Відсутність гравію
              на дорогах дозволяє уникнути велизечної кількості сколів по кузову
              авто.</p>
          </article>
        </li>
        <li class="why__item">
          <article class="reason">
            <img src="img/why/why_tech.svg"
              loading="lazy"
              width="50"
              height="50"
              alt=""
              class="reason__icon">
            <h3 class="reason__title">Обслуговування</h3>
            <p class="reason__text">Автомобілі заправляються якісним пальним,
              від якого не псується турбіна, або взагалі перестає заводитись
              мотор. На плановому сервісному обслуговуванні заливається хороше
              мастило, встановлюються оригінальні запчастини, які рекомендовані
              заводом-виробником. У більшості авто є сервісні книжки з
              відмітками про регулярне проходження ТО.</p>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
