// если вы хотите использовать sass-переменные - удалите root
// colors
$section-padding-block: 60px;
$section-padding-block-start: $section-padding-block;
$section-padding-block-end: $section-padding-block;

:root {
  --font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --primary-color: #ff0009; //#f90606??
}
