// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/why";
@import "./components/offer";
@import "./components/about";
@import "./components/process";
@import "./components/services";
@import "./components/reviews";
@import "./components/faq";
@import "./components/contacts";

// повторяющиеся стили

// Заголовки H2

h2.section__title {
  font-size: 40px;
  font-weight: 600;
  color: #000;
}
